<div class="employee-page-container">
  <div class="title-co">
    <p class="page-title">Funcionarios</p>

    <div class="page-section">
      <div *ngIf="arrayEmployees.length >= 1" class="section-title-co">
        <div>
          <p class="section-title">Cadastrados</p>
          <p>{{ arrayEmployees.length }} funcionários</p>
        </div>
        <button class="btn-primary" (click)="openModal2()">
          + Funcionário
        </button>
      </div>
    </div>
    <div class="section-body">
      <div *ngIf="arrayEmployees.length == 0" class="no-employee-co">
        <app-no-employee></app-no-employee>
        <div class="no-employee-wrapper">
          <p class="no-employee-msg">
            Você ainda não tem funcionários registrados, deseja cadastrar o
            primeiro?
          </p>
          <button class="btn-primary" (click)="openModal2()">Cadastrar</button>
        </div>
      </div>
    </div>

    <div class="registered-employees-list" *ngIf="arrayEmployees.length > 0">
      <div *ngFor="let employee of arrayEmployees">
        <div class="employee-list-card">
          <div class="info-co">
            <img
              class="employee-img"
              src="{{ employee.image }}"
              alt="Employee Image"
            />
          </div>
          <div class="info-container">
            <div class="info-co name-container">
              <label for="name">Nome</label>
              <p>{{ employee.nome_funcionario }}</p>
            </div>
            <div class="wrapper">
              <div class="info-co cod-container">
                <label for="cod">Código</label>
                <p class="codigo-funcionario">FUNC{{ employee.id_usuario }}</p>
              </div>
              <div class="info-co sit-container">
                <label for="cod">Situação</label>
                <p class="codigo-funcionario">FUNC{{ employee.id_usuario }}</p>
              </div>
            </div>
          </div>
          <div class="buttons-container">
            <svg
              width="30px"
              height="30px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              (click)="handleRemove(employee)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0" />

              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              />

              <g id="SVGRepo_iconCarrier">
                <path
                  d="M20.5001 6H3.5"
                  stroke=" #bb3301"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  d="M18.8332 8.5L18.3732 15.3991C18.1962 18.054 18.1077 19.3815 17.2427 20.1907C16.3777 21 15.0473 21 12.3865 21H11.6132C8.95235 21 7.62195 21 6.75694 20.1907C5.89194 19.3815 5.80344 18.054 5.62644 15.3991L5.1665 8.5"
                  stroke=" #bb3301"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                  stroke=" #bb3301"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-modal
    *ngIf="firstTime == true"
    title="modal1"
    titulo="Funcionários"
    #modal
    (onConfirm)="closeModal()"
  >
    <p class="sub-title">
      Aqui é onde você pode cadastrar ou remover um funcionário da sua equipe,
      funcionários cadastrados terão acesso ao menu que a empresa escolher
    </p>
  </app-modal>
  <app-modal
    #modal2
    title="modal 2"
    titulo="Cadastrar Funcionário"
    (onConfirm)="handleConfirm()"
  >
    <form [formGroup]="funcionarioForm">
      <div class="form-container">
        <label for="nome">Nome</label>
        <input
          formControlName="nome"
          type="text"
          placeholder="Digite o nome do funcionário"
        />
      </div>
      <div class="form-container">
        <label for="descricao">Email</label>
        <input
          formControlName="email"
          type="text"
          placeholder="Digite o email"
        />
      </div>
      <div class="form-container">
        <label for="preco">Senha</label>
        <input
          formControlName="senha"
          type="number"
          placeholder="Digite a senha"
        />
      </div>
      <div class="form-container">
        <label for="imagem-produto">Foto do funcionário</label>
        <input
          formControlName="enderecoImagem"
          type="text"
          placeholder="Foto do funcionário"
        />
      </div>
    </form>
  </app-modal>
</div>
