<header>
  <div class="barra-cima"></div>
  <img class="logo-img" src="/assets/imgs/logo.svg" alt="logo" />
  <div class="detalhes">
    <p class="texto-principal">
      <span>FoodClub</span>, a sua nova forma de pedir uma refeição.
    </p>
    <p class="opacity-30">
      Conectando empresas e restaurantes sem perder a praticidade
    </p>
    <div class="container-botoes">
      <button [routerLink]="['login']" class="btn-primary">Entrar</button>
      <button [routerLink]="['cadastro']" class="btn-secondary">
        Cadastrar
      </button>
    </div>
  </div>
</header>
