.container-login {
  background: white;
  border-radius: 8px;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 95%;
  height: 90vh;
  max-width: 400px;
  margin: 2rem auto 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  max-width: 600px;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0.6rem 0.5rem;
}

button {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.8rem 0;
  border-radius: 8px;
  font-size: 1rem;
}

.texto-esqueceu-senha {
  margin-top: 0.3rem;
  opacity: 0.3;
}

.texto-esqueceu-senha span {
  font-weight: 600;
}

.logo {
  height: 200px;
}

.btn-entrar {
  border: 1px solid #bb3301;
  background: #bb3301;
  color: white;
  margin-top: 1rem;
}

.btn-cadastrar {
  border: 1px solid #bb3301;
  margin-top: 0.5rem;
  color: #bb3301;
}

@media (min-width: 1100px) {
  .container-login {
    flex-direction: row-reverse;
    justify-content: space-around;

    max-width: 1000px;
    height: 600px;
  }

  button {
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }

  form {
    max-width: 400px;
  }

  .logo {
    height: 400px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .btn-cadastrar {
    margin-top: 0.5rem;
    background: white;
  }

  .btn-entrar {
    margin-top: 1rem;
  }
}
