.pagina-inicial {
  background: white;
  border-radius: 8px;
  min-height: 100vh;
}

.conteudo-pagina-inicial {
  border: 1px solid red;
  max-width: 95%;
  margin: 0 auto;
}

.conteudo-container {
  flex-grow: 1;
}

@media (min-width: 800px) {
  .pagina-inicial {
    border: 1px solid blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
