.pagina-produtos {
  padding: 1rem;
  border: 1px solid rgb(236, 236, 236);
  background: white;
  border-radius: 8px;
  margin-bottom: 6rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.page-description {
  margin-top: 0.2rem;
  font-size: 14px;
  opacity: 0.4;
}

.page-title {
  color: #bb3301;
  font-size: 3rem;
}

.lista-produtos {
  margin-top: 0.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.cabecalho-lista {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.cabecalho-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0 3rem 0;
}

.quantidade-cadastrados {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 0.2rem;
}

.btn-novo-produto {
  font-size: 1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.322);
  background: #bb3301;
  color: white;
}

.container-aviso-sem-pedido {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  margin: 0 auto;
  align-items: center;
}

.container-aviso-sem-pedido p {
  text-align: left;
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

.btn-cadastrar-produto {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background: #bb3301;
  border: none;
  color: white;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.363);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  max-width: 600px;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0.6rem 0.5rem;
}

button {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.8rem 0;
  border-radius: 8px;
  font-size: 1rem;
}

@media (min-width: 800px) {
  .btn-novo-produto:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .container-aviso-sem-pedido {
    flex-direction: row;
    width: 100%;
    height: 600px;
    column-gap: 4rem;
  }

  .container-aviso-sem-pedido img {
    max-width: 300px;

    /* width: 300px;
    height: 300px; */
  }

  .wrapper {
    max-width: 500px;
  }

  .container-aviso-sem-pedido p {
    font-size: 2.5rem;
    text-align: left;
  }

  .btn-cadastrar-produto {
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    background: #bb3301;
    border: none;
    color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.363);
  }
}

@media (min-width: 600px) {
  .container-aviso-sem-pedido p {
    font-size: 2rem;
    text-align: left;
    width: 400px;
  }
}

@media (min-width: 1050px) {
  .container-aviso-sem-pedido img {
    max-width: 500px;
  }
}
