<div class="pagina-produtos">
  <div class="produtos-header">
    <h2 class="page-title">Produtos</h2>
    <p class="page-description">Gerencie seus produtos</p>
  </div>
  <div class="cabecalho-wrapper">
    <div class="produto-cabecalho">
      <p>Cadastrados</p>
      <p class="quantidade-cadastrados">7 produtos</p>
    </div>
    <p>
      <button class="btn-novo-produto">Adicionar produto</button>
    </p>
  </div>
  <ul class="lista-produtos">
    <li *ngFor="let produto of arrayProdutos">
      <app-product-card [produto]="produto"></app-product-card>
    </li>
  </ul>
</div>
