<div class="pagina-produtos">
  <div class="produtos-header">
    <h2 class="page-title">Produtos</h2>
    <p class="page-description">Gerencie seus produtos</p>
  </div>

  <div class="cabecalho-wrapper" *ngIf="quantidadeProdutosHabilitados >= 1">
    <div class="produto-cabecalho">
      <p>Cadastrados</p>
      <p class="quantidade-cadastrados">
        {{ quantidadeProdutosHabilitados }}
        {{ quantidadeProdutosHabilitados > 1 ? "produtos" : "produto" }}
      </p>
    </div>
    <p>
      <button class="btn-novo-produto" (click)="openModal()">
        Adicionar produto
      </button>
    </p>
  </div>

  <div
    class="container-aviso-sem-pedido"
    *ngIf="quantidadeProdutosHabilitados === 0"
  >
    <img src="../../../../assets/imgs/chef-image.svg" alt="" />
    <div class="wrapper">
      <p class="">
        Você não tem produtos cadastrados, gostaria de cadastrar o primeiro?
      </p>
      <button class="btn-cadastrar-produto" (click)="openModal()">
        Cadastrar primeiro produto
      </button>
    </div>
  </div>

  <ul *ngIf="arrayProdutos.length >= 1" class="lista-produtos">
    <li *ngFor="let produto of arrayProdutos">
      <app-product-card
        *ngIf="produto.habilitado"
        [produto]="produto"
        (produtoExcluido)="atualizaProdutos()"
      ></app-product-card>
    </li>
  </ul>

  <app-modal
    #modal
    (onConfirm)="onSubmit()"
    (onCancel)="handleCancel()"
    titulo="Cadastrar produto"
  >
    <form [formGroup]="cadastroForm">
      <div class="form-container">
        <label for="nome">Nome produto</label>
        <input
          formControlName="nomeProduto"
          type="text"
          placeholder="Digite o nome do produto"
        />
      </div>
      <div class="form-container">
        <label for="descricao">Descrição</label>
        <input
          formControlName="descricao"
          type="text"
          placeholder="Digite a descrição do produto"
        />
      </div>
      <div class="form-container">
        <label for="preco">Preço</label>
        <input
          formControlName="preco"
          type="number"
          placeholder="Digite o preço do produto"
        />
      </div>
      <div class="form-container">
        <label for="imagem-produto">Endereço da imagem</label>
        <input
          formControlName="enderecoImagem"
          type="text"
          placeholder="Digite a imagem do produto"
        />
      </div>
    </form>
  </app-modal>
</div>
