.navbar-container {
    width: 350px;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
}