@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  /* background: #f8f8f8; */
  background: rgb(255, 251, 247);
}

.toast-title {
  margin-bottom: 0.3rem;
}

.btn-primary {
  background: #bb3301;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.267);
}

.btn-secondary {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.267);
}
