@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  background: #f8f8f8;
  padding: 2rem 0;
}

.toast-title {
  margin-bottom: 0.3rem;
}
